@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <link rel="stylesheet" href="/css/Cancel.css">
</head>

<body>
    <div class="img-conatiner">
        <img class="paymentImg" src="~/PaymentImage/Cancel.jfif" />
        <p class="P">Payment Canceled !</p>
    </div>
</body>
</html>