@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
       <link rel="stylesheet" href="/css/Success.css">
    </head>

    <body>
        <div class="img-conatiner">
            <img class="paymentImg" src="~/PaymentImage/Success(3).png"/>
            <p class="P">Thank You !</p>
            <h1 class="header">Payment Done Successfully</h1>
        </div>
    </body>
</html>

